# Data Wrangling - La cirugía de los datos

# 

El data wrangling, a veces denominada data munging, es el proceso de transformar y mapear datos de un dataset raw (en bruto) en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. Un data wrangler es una persona que realiza estas operaciones de transformación.

Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico, así como muchos otros usos potenciales. La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales que comienzan extrayendo los datos en forma cruda del origen de datos, dividiendo los datos en bruto usando algoritmos (por ejemplo, clasificación) o analizando los datos en estructuras de datos predefinidas, y finalmente depositando el contenido resultante en un sistema de almacenamiento (o silo) para su uso futuro.

In [39]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
dataset="customer-churn-model/Customer Churn Model.txt"
mainpath ="c:/Users/na_th/Anaconda Projects/python-ml-course-master/datasets"
path = os.path.join(mainpath,dataset)

In [40]:
data= pd.read_csv(path)

In [41]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Crea un subconjunto de datos

In [18]:
#utilizar las columnas que quiero usar

In [19]:
acolength = data["Account Length"] # solo uno tipo series

In [22]:
acolength

0       128
1       107
2       137
3        84
4        75
       ...
3328    192
3329     68
3330     28
3331    184
3332     74
Name: Account Length, Length: 3333, dtype: int64

In [23]:
type(acolength)

pandas.core.series.Series

In [77]:
varios= data[["Account Length", "Phone"]]

In [78]:
type(varios)

pandas.core.frame.DataFrame

In [88]:
m_deseada=["VMail Message","Day Calls"]
subdaset = data[m_deseada]
subdaset.head()

   VMail Message  Day Calls
0             25        110
1             26        123
2              0        114
3              0         71
4              0        113

In [117]:
m_deseadas=[ "Account Length", "VMail Message","Day Calls", "Phone"] 
m_deseadas

['Account Length', 'VMail Message', 'Day Calls', 'Phone']

In [114]:
subdaset.head()

   Account Length  VMail Message  Day Calls     Phone
0             128             25        110  382-4657
1             107             26        123  371-7191
2             137              0        114  358-1921
3              84              0         71  375-9999
4              75              0        113  330-6626

In [44]:
def solcoldes (a,b,c,d, df ):
    m_deseada=[a,b,c,d]
    subdaset = data[m_deseada]
    all_col = df.columns.values.tolist()
    sublist = [x for x in all_col if x not in m_deseada]
    return data[sublist]
#filtrar columnas

In [45]:
coldes= solcoldes("Account Length", "VMail Message","Day Calls", "Phone", data)

In [46]:
coldes

,State,Area Code,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,415,no,yes,156.2,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,415,no,no,231.1,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,510,no,no,180.8,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,510,yes,no,213.8,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,415,no,yes,234.4,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [116]:
all_col = data.columns.values.tolist()  #to list es una funcion que convierte en lista
all_col

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [123]:

sublist = [x for x in all_col if x not in m_deseadas] #eliminar
sublist

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [124]:
new_sub = data[sublist]
new_sub

,State,Area Code,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,415,no,yes,156.2,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,415,no,no,231.1,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,510,no,no,180.8,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,510,yes,no,213.8,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,415,no,yes,234.4,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [135]:
#segunda opción 
a= set(m_deseadas)
b= set(all_col)
sublist=b-a
sublist = list(sublist)
newsub = data[sublist]
newsub

,Intl Mins,Intl Charge,Day Mins,VMail Plan,Day Charge,Night Charge,Night Calls,CustServ Calls,Area Code,Eve Charge,Eve Mins,Eve Calls,Churn?,Intl Calls,Int'l Plan,Night Mins,State
0,10.0,2.70,265.1,yes,45.07,11.01,91,1,415,16.78,197.4,99,False.,3,no,244.7,KS
1,13.7,3.70,161.6,yes,27.47,11.45,103,1,415,16.62,195.5,103,False.,3,no,254.4,OH
2,12.2,3.29,243.4,no,41.38,7.32,104,0,415,10.30,121.2,110,False.,5,no,162.6,NJ
3,6.6,1.78,299.4,no,50.90,8.86,89,2,408,5.26,61.9,88,False.,7,yes,196.9,OH
4,10.1,2.73,166.7,no,28.34,8.41,121,3,415,12.61,148.3,122,False.,3,yes,186.9,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,9.9,2.67,156.2,yes,26.55,12.56,83,2,415,18.32,215.5,126,False.,6,no,279.1,AZ
3329,9.6,2.59,231.1,no,39.29,8.61,123,3,415,13.04,153.4,55,False.,4,no,191.3,WV
3330,14.1,3.81,180.8,no,30.74,8.64,91,2,510,24.55,288.8,58,False.,6,no,191.9,RI
3331,5.0,1.35,213.8,no,36.35,6.26,137,2,510,13.57,159.6,84,False.,10,yes,139.2,CT
3332,13.7,3.70,234.4,yes,39.85,10.86,77,0,415,22.60,265.9,82,False.,4,no,241.4,TN

In [55]:
data[0:1] # Selecciona en especifico las filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False.

In [ ]:
data[:8] #hasta el 8
data[8:] #desde l 8 en adelante

## usuarios filtrados que cumplen minutos de llamadas >300

In [82]:
data1 = data[data["Day Mins"]>300]

In [92]:
data1.shape

(43, 21)

In [84]:
#usuarios de new york
data2= data[data["State"]== "NY"] # data es igual a un subconjunto de data

In [91]:
data2.shape

(83, 21)

In [ ]:
#dos condiciones .. and=>&, or=>|

In [95]:
#AND
data3= data[(data["Day Mins"]>300)&(data["State"]=="NY")] 
data3
#data3.shape() ... muestra solo los que cumplen

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.

In [113]:
#OR
data4= data[(data["Day Mins"]>300)|(data["State"]=="NY")] 
data4

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
76,DC,82,415,374-5353,no,no,0,300.3,109,51.05,...,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.
3322,MD,62,408,409-1856,no,no,0,321.1,105,54.59,...,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.

In [109]:
#las llamadas de noche superen las de dia
data5 = data[(data["Day Calls"]<data["Night Calls"])]

In [110]:
data5.shape

(1626, 21)

In [102]:
data.shape

(3333, 21)

In [112]:
data6 = data[(data["Day Mins"]>data["Night Mins"])]
data6.shape

(1280, 21)

In [116]:
##minutos de dia, noche, longitud (columnas) y 50 primeros (filas)
#[]<-columnas []<-filas  por ser doble filtrado
subset_50 = data[["Day Mins","Night Mins", "Account Length"]][:50] 
subset_50.shape

(50, 3)

In [122]:
data.iloc[1:10, 3:6] #metodo iloc, asigna o consulta indice de fil y coll en una sola

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [127]:
data.iloc[:, 3:6] # todas las filas
data.iloc[1:10, :]# todas las columnas
data.iloc[1:10,[2,5,9]] # selecciona en especifico columna
data.iloc[[1,4,6,8,45],[2,5,9]] # especifico filas y columnas

    Area Code VMail Plan  Day Charge
1         415        yes       27.47
4         415         no       28.34
6         510        yes       37.09
8         408         no       31.37
45        408        yes       20.55

In [128]:
#data.iloc  posiciones
#data.loc etiquetas
data.loc[[1,3,56],["State", "Day Mins"]]

   State  Day Mins
1     OH     161.6
3     OH     299.4
56    CO     126.9

In [129]:
data["Total Mins"] = data["Day Mins"] + data["Night Mins"]+ data["Eve Mins"] #lo crea y lo asigna en la tabla

In [130]:
data["Total Mins"]

0       707.2
1       611.5
2       527.2
3       558.2
4       501.9
        ...
3328    650.8
3329    575.8
3330    661.5
3331    512.6
3332    741.7
Name: Total Mins, Length: 3333, dtype: float64

In [131]:
data

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False.,707.2
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False.,611.5
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False.,527.2
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False.,558.2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False.,501.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,18.32,279.1,83,12.56,9.9,6,2.67,2,False.,650.8
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,13.04,191.3,123,8.61,9.6,4,2.59,3,False.,575.8
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,24.55,191.9,91,8.64,14.1,6,3.81,2,False.,661.5
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,13.57,139.2,137,6.26,5.0,10,1.35,2,False.,512.6
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,22.60,241.4,77,10.86,13.7,4,3.70,0,False.,741.7

In [132]:
data["Total Calls"] = data["Day Calls"] + data["Night Calls"]+ data["Eve Calls"]

In [133]:
data

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,False.,707.2,300
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,False.,611.5,329
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,279.1,83,12.56,9.9,6,2.67,2,False.,650.8,286
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,191.3,123,8.61,9.6,4,2.59,3,False.,575.8,235
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,191.9,91,8.64,14.1,6,3.81,2,False.,661.5,258
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,139.2,137,6.26,5.0,10,1.35,2,False.,512.6,326
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,241.4,77,10.86,13.7,4,3.70,0,False.,741.7,272

# Generación de numeros aleatorios

In [3]:
#semilla , arranque del sistema. en base a esta genera un patrón
#NUMERO SEUDOALEATORIOS

In [4]:
#NUMPY

In [20]:
np.random.randint(1,100) # numero de 1 a 100

59

In [21]:
#forma mas clasica en 0 a 1 ..decimales
np.random.random()

0.9070929611748898

In [22]:
#Funcion de una lista de numeros aleatorios enteros dentro del intervalo [a,b]
def randinlist(n,a,b):
    x=[]
    for i in range(n): # se ejecuta n veces 
        x.append(np.random.randint(a,b)) # append es un metodo para añadir al final del array que se esta creando
    return x  #

In [25]:
randinlist(20, 3,78)

[69, 48, 54, 64, 8, 48, 41, 57, 68, 37, 71, 35, 51, 65, 16, 71, 46, 36, 11, 66]

In [26]:
import random

In [28]:
for i in range(10):
    print(random.randrange(0,200,5)) # multiplos de 5

135
85
30
175
45
90
110
40
125
105

##### Shuffling

In [29]:
a=np.arange(100) # arreglo de 100 espacio y del numero del 0 al 99

In [36]:
np.random.shuffle(a)

In [37]:
a

array([30, 48, 24, 86, 18, 80, 67, 38, 60, 82, 95,  1, 44, 74, 99, 83, 84,
       97, 52, 27, 94, 56, 50, 63, 14,  8, 25,  3, 17, 59, 65, 54, 87, 98,
       71, 21, 19, 53, 46, 55, 40, 51, 76, 75,  2, 79,  7, 88, 58, 26, 35,
        4, 36, 37, 28, 93, 66, 45, 23, 47,  5,  6, 10, 16, 20, 69, 22, 91,
       90, 34, 96, 92, 43, 33, 12, 72,  9, 41, 78, 73, 15, 49, 77, 89, 29,
       13, 57, 81, 32,  0, 85, 68, 31, 62, 11, 42, 61, 64, 39, 70])

In [ ]:
# metodo choice para crear simulaciones, escoge un dato al azar

In [38]:
data

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [43]:
colist= data.columns.values.tolist()

In [44]:
colist

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [50]:
 np.random.choice(colist) # elige una columnada de la columna

'Night Mins'

# Seed

In [54]:
np.random.seed(2018) #de acuerdo a la semilla mismo random.. un punto de partida
for i in range(5):
    print(np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422